 .u-section-1 {
  background-image: none;
  min-height: 1223px;
}

.u-section-1 .u-image-1 {
  object-position: 50% 67.94%;
  height: 646px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-shape-1 {
  --radius: 10px;
  height: 705px;
  background-image: linear-gradient(white, #999999);
  margin-top: -653px;
  margin-bottom: 0;
}

.u-section-1 .u-list-1 {
  width: 824px;
  margin: -560px auto 0;
}

.u-section-1 .u-repeater-1 {
  min-height: 338px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 12px 14px 30px;
}

.u-section-1 .u-image-2 {
  height: 106px;
  width: 108px;
  margin: 22px 65px 0 47px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 26px 0 47px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-family: Bahianita;
  font-size: 3rem;
  margin: 29px 38px 0 47px;
}

.u-section-1 .u-icon-1 {
  width: 45px;
  height: 45px;
  margin: 18px 97px 0 78px;
  padding: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 12px 14px 30px;
}

.u-section-1 .u-image-3 {
  height: 106px;
  width: 108px;
  margin: 25px 65px 0 47px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 26px 0 47px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-family: Bahianita;
  font-size: 3rem;
  margin: 19px 38px 0 47px;
}

.u-section-1 .u-icon-2 {
  width: 45px;
  height: 45px;
  margin: 18px 97px 0 78px;
  padding: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 12px 14px 30px;
}

.u-section-1 .u-image-4 {
  height: 106px;
  width: 108px;
  margin: 25px 65px 0 47px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 26px 0 47px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-family: Bahianita;
  font-size: 3rem;
  margin: 19px 38px 0 47px;
}

.u-section-1 .u-icon-3 {
  width: 45px;
  height: 45px;
  margin: 18px 97px 0 78px;
  padding: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 12px 14px 30px;
}

.u-section-1 .u-image-5 {
  height: 106px;
  width: 108px;
  margin: 25px 65px 0 47px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 26px 0 47px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-family: Bahianita;
  font-size: 3rem;
  margin: 19px 38px 0 47px;
}

.u-section-1 .u-icon-4 {
  width: 45px;
  height: 45px;
  margin: 18px 97px 0 78px;
  padding: 0;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-shape-2 {
  width: 1361px;
  height: 44px;
  margin: 220px auto 0 calc(((100% - 1140px) / 2) + -171px);
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 779px;
  height: auto;
  margin: -282px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-group-elements-1 {
  width: 239px;
  min-height: 206px;
  height: auto;
  margin: 64px auto 0 274px;
}

.u-section-1 .u-shape-3 {
  width: 206px;
  height: 206px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-9 {
  font-size: 3.75rem;
  margin: -184px 0 0 75px;
}

.u-section-1 .u-icon-5 {
  height: 45px;
  width: 45px;
  margin: -224px auto 0 368px;
  padding: 0;
}

.u-section-1 .u-table-1 {

  width: 779px;
  margin: 162px auto 0 0;
}

.u-section-1 .u-table-header-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: none;
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-1 {
  font-size: 0.75rem;
}

.u-section-1 .u-table-body-1 {
  overflow-y: auto;
  background-image: none;
}

.u-section-1 .u-btn-1 {
  --radius: 4px;
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: -326px auto 0 304px;
  padding: 8px 36px 9px 35px;
}

.u-section-1 .u-icon-6 {
  width: 36px;
  height: 36px;
  margin: 112px 46px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-7 {
  width: 36px;
  height: 36px;
  margin: -36px 96px 0 auto;
  padding: 7px;
}

.u-section-1 .u-search-1 {
  height: auto;
  width: 200px;
  min-height: 38px;
  margin: -144px 43px 0 auto;
}

.u-section-1 .u-icon-8 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 275px auto 0 358px;
  padding: 13px;
}

.u-section-1 .u-icon-9 {
  width: 64px;
  height: 64px;
  margin: -1150px auto 0;
}

.u-section-1 .u-shape-4 {
  width: 250px;
  height: 57px;
  margin: -157px auto 0;
}

.u-section-1 .u-text-10 {
  font-size: 1.875rem;
  margin: -57px auto 0;
}

.u-section-1 .u-shape-5 {
  width: 122px;
  height: 98px;
  --radius: 15px;
  margin: -45px calc(((100% - 1140px) / 2) + 47px) 0 auto;
}

.u-section-1 .u-image-6 {
  width: 85px;
  height: 85px;
  margin: -91px calc(((100% - 1140px) / 2) + 65px) 0 auto;
}

.u-section-1 .u-shape-6 {
  width: 122px;
  height: 98px;
  --radius: 15px;
  margin: -98px auto 0 calc(((100% - 1140px) / 2) + 46px);
}

.u-section-1 .u-icon-10 {
  width: 64px;
  height: 64px;
  margin: -85px auto 1160px calc(((100% - 1140px) / 2) + 75px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }

  .u-section-1 .u-shape-2 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 93px;
  }

  .u-section-1 .u-shape-5 {
    margin-right: calc(((100% - 940px) / 2) + 47px);
  }

  .u-section-1 .u-image-6 {
    margin-right: calc(((100% - 940px) / 2) + 65px);
  }

  .u-section-1 .u-shape-6 {
    margin-left: calc(((100% - 940px) / 2) + 46px);
  }

  .u-section-1 .u-icon-10 {
    margin-left: calc(((100% - 940px) / 2) + 75px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 331px;
  }

  .u-section-1 .u-table-1 {
    width: 720px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 224px;
  }

  .u-section-1 .u-icon-8 {
    margin-left: 322px;
  }

  .u-section-1 .u-shape-5 {
    margin-right: calc(((100% - 720px) / 2) + 47px);
  }

  .u-section-1 .u-image-6 {
    margin-right: calc(((100% - 720px) / 2) + 65px);
  }

  .u-section-1 .u-shape-6 {
    margin-left: calc(((100% - 720px) / 2) + 46px);
  }

  .u-section-1 .u-icon-10 {
    margin-left: calc(((100% - 720px) / 2) + 75px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-shape-2 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-9 {
    font-size: 3rem;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 248px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 44px;
  }

  .u-section-1 .u-icon-8 {
    margin-left: 242px;
  }

  .u-section-1 .u-text-10 {
    font-size: 1rem;
  }

  .u-section-1 .u-shape-5 {
    margin-right: calc(((100% - 540px) / 2) + 47px);
  }

  .u-section-1 .u-image-6 {
    margin-right: calc(((100% - 540px) / 2) + 65px);
  }

  .u-section-1 .u-shape-6 {
    margin-left: calc(((100% - 540px) / 2) + 46px);
  }

  .u-section-1 .u-icon-10 {
    margin-left: calc(((100% - 540px) / 2) + 75px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    object-position: 60.84% 67.94%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-left: 101px;
  }

  .u-section-1 .u-text-9 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 156px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-icon-8 {
    margin-left: 152px;
  }

  .u-section-1 .u-shape-5 {
    margin-right: calc(((100% - 340px) / 2) + 47px);
  }

  .u-section-1 .u-image-6 {
    margin-right: calc(((100% - 340px) / 2) + 65px);
  }

  .u-section-1 .u-shape-6 {
    margin-left: calc(((100% - 340px) / 2) + 46px);
  }

  .u-section-1 .u-icon-10 {
    margin-left: calc(((100% - 340px) / 2) + 75px);
  }
}